{% extends "orders/layout.html" %}

{% block title %}Menu{% endblock %}

{% block body %}
    <header>
        <div class="row">
            <div class="col s12">
                {% load static %}
                <img src="{% static 'orders/pizza-oven.jpg' %}" alt="pizza oven">
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col s12 center-align">
            <h3>Our Pizzas</h3>
        </div>
    </div>
    
    <div class="divider"></div>
            
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Adding to cart</h4>
        <p id="add-result">PROCESSING...</p>
        </div>
        <div class="modal-footer">
        <a href="{% url 'cart' %}" class="modal-close waves-effect waves-green btn-flat">GO TO CART</a>
        </div>
    </div>

    <div class="row">
        {% for pizza in pizzas %}
            <div class="col s10 offset-s1 m4">
                <div class="card">
                <div class="card-image">
                    {% load static %}
                    {% static "" as baseUrl %}
                    <img src="{{ baseUrl }}{{ pizza.image_link }}">
                    <a class="add-btn btn-floating halfway-fab waves-effect waves-light green accent-3" data-id="{{ pizza.id }}"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{ pizza.name }}</span>
                    <p>{{ pizza.description }}</p>
                    <p>Price: {{ pizza.price }} €</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% load static %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl}}orders/index.js"></script>     
{% endblock %}