<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="nav-wrapper red darken-4">
        <a class="brand-logo" href="{% url 'index' %}">Pizza shop</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'index' %}">Menu</a>
                </li>
                <li>
                    <a href="{% url 'cart' %}">Cart</a>
                </li>
                <li>
                    <a href="{% url 'orders' %}">My orders</a>
                </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}               
            </ul>

            <ul class="sidenav" id="mobile">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'index' %}">Menu</a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}">Cart</a>
                    </li>
                    <li>
                        <a href="{% url 'orders' %}">My orders</a>
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                {% endif %}               
            </ul>
    </nav>
    
    {% block body %}
    {% endblock %}

</body>
</html>